apiVersion: apps/v1
kind: Deployment
metadata:
  name: resort-booking
spec:
  replicas: 3
  selector:
    matchLabels:
      app: resort-booking
  template:
    metadata:
      labels:
        app: resort-booking
    spec:
      containers:
      - name: resort-booking
        image: acrresort292004.azurecr.io/resort-booking:latest
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
